h1 {
	text-align: center;
}

p {
	margin: 3px 0;
	font: 18px Arial, Helvetica, sans-serif;
}

#testata {
	margin: 0 0 12px 0;
}
#corpo {
	
}
#piePag {
	margin: 12px 0 0 0;
}

.monum {
	font-style: italic;
	color: #f00;
}

.ps {
	font-weight: bold;
}