html, body {
	font: normal normal 1.2em Arial, Helvetica, sans-serif;
	background-color: #ddd;
}

div {
	padding: 6px;
	margin-bottom: 12px;
}

h1, h2, h3 {
	text-align: center;
	font: italic bold 2em "Times New Roman", Times, serif;
	margin: 0 0 10px 0;
}

h2 {
	font-size: 1.6em;
	margin: 0 0 5px 0;
}

p {
	margin: 0 0 4px 0;
}

ul, ol {
	margin-top: 6px;
	margin-bottom: 6px;
}

a {
	text-decoration: none;
	color: blue;
}

img {
	border: none;
}

img.sx {
	float: left;
	margin: 10px 10px 10px 2px;
}

img.dx {
	float: right;
	margin: 10px 2px 10px 10px;
}

img.centrata {
	display: block;
	margin: 6px auto 6px auto;
	text-align: center;
}

a:hover {
	color: red;
}

/* NB: pagina si sposta di poco (!) a seconda che
   ci sia o meno la barra di scorrimento! */
#pagina {
	width: 1100px;
	margin: 0 auto;
	padding: 20px;
	background-color: #def;
}

#testata {
	background-color: #66ffff;
	height: 63px;
}

#info {
	background-color: #cfc;
	float: left;
	width: 900px;
}

#nav {
	background-color: #9fa;
	margin-left: 925px;
}

#piePag {
	background-color: #6cf;
	clear: both;
}

#home {
	display: block; /* per potergli dare uno sfondo e una dimens. (agli elem inline non è possibile) */
	float: left;
	text-indent: -9999px; /* per l'image replacement del testo */
	background-image: url(img/home48px3stati.png);
	width: 48px;
	height: 48px;
	padding: 0;
	margin: 5px;
	background-position: 0 -48px;
}

#home:hover {
	background-position: 0 -96px;
}

body#pgIndex #home {
	background-position: 0 0;
	cursor: default;
}

#mappa {
	background-image: url(img/mappa.png);
	width: 800px;
	height: 515px;
	position: relative;
	display: block;
	padding: 0;
	margin: 5px auto;
}

#mappa ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#mappa li {
	margin: 0;
	padding: 0;
}

#nav li a {
	font: normal normal 0.9em Arial, Helvetica, sans-serif;
}

#mappa li a {
	background-color: #dfc;
	margin: 0;
	padding: 5px 10px;
	border-radius: 6px;
	font: normal bold 1em Arial, Helvetica, sans-serif;
}

#mappa li a:hover {
	text-shadow: 1px 1px 4px #f00;
}


#campoDiSotto {
	position: absolute;
	top: 70px;
	left: 490px;
}

#malgaFedera {
	position: absolute;
	top: 255px;
	left: 420px;
}

#rocchettaDiPrendera {
	position: absolute;
	top: 445px;
	left: 460px;
}

.montagna {
	font-style: italic;
	color: #d0d;
}

.luogo {
	font-weight: bold;
	color: #f40;
}

